.jumbotron{ 
   
}
.hot-1 {
   text-align: center;


}

.hot-2 {
    text-align: center;
 
 
 }

 .btn-lg {
    background-color: rgb(210, 77, 77);
    float: center;
 
 }
.glyphicon-home {
    color: seashell;
}

.panel-heading {
    
}
